

WebAPI/obj/Debug/net6.0/refint/WebAPI.dll

.vs/WebAPI/DesignTimeBuild/.dtbcache.v2
*.bin
*.vsidx
.vs/WebAPI/v17/.futdcache.v2
.vs/
.vs7/

/dist
/tmp
/out-tsc
/bazel-out

# Node
AngularClient/node_modules
AngularClient/npm-debug.log
AngularClient/yarn-error.log
AngularClient/node_modules/
# IDEs and editors
AngularClient/.idea/
AngularClient/.project
AngularClient/.classpath
AngularClient/.c9/
AngularClient/*.launch
AngularClient/.settings/
AngularClient/.angular/
*.sublime-workspace

# Visual Studio Code
AngularClient/.vscode/*
 
WebAPI/obj/Release/
